{% extends "base.html" %}

{% block title %}Shortened URL{% endblock %}

{% block content %}
    <div>
        <form>
            <h3>URL Stats</h3>
            <input type="url" name="short_url" value="http://{{ request.url.hostname }}:5000/{{ short_url }}" readonly>
            <button type="button" onclick="copyUrl()">Copy URL</button>
            <button type="button" onclick="window.location.href='/{{ short_url }}/info'">URL Info</button>
            <button type="button" onclick="window.location.href='/'">Short another URL</button>
        </form>
    </div>

    <script>
        function copyUrl() {
            const urlInput = document.querySelector('input[name="short_url"]');
            urlInput.select();
            document.execCommand('copy');
        }
    </script>
{% endblock %}